[Unit]
Description=Dovecot IMAP/POP3 email server
After=local-fs.target network.target

[Service]
Type=simple
ExecStart=/usr/sbin/dovecot -F
ExecReload=/bin/kill -HUP $MAINPID
PrivateTmp=true
NonBlocking=yes
LimitNPROC=6144

[Install]
WantedBy=multi-user.target
